@import "../../../../scss/colors.scss"; 
.search-inside-separator{
  margin-top: -25px;
    margin-bottom: 10px;
    height: 0.7px;
    width: 95%;
    background-color: gray;
}
.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-blue;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
  }
  
  .result-item {
    padding: 3px;
    margin-top: 5px;
    background-color:$light-blue;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    &:hover{
      background-color:$darker-blue;
      .result-content-results-movie{
        background-color:$darker-blue;
      }
      .text-fields{
        background-color:$darker-blue;
      }
      .title{
        background-color:$darker-blue;
      }
      .username-results{
        background-color:$darker-blue;
      }
      img{
        background-color:$darker-blue;
      }
      p{
        background-color:$darker-blue;
      }
    }
  }
  .result-content-results-movie{
    display: flex;
    flex-direction: row;
    background-color:$light-blue;
    img{
      background-color:$light-blue;
      height: 57px;
      width: 40px;
    }
  }
  .text-fields {
    margin-left: 20px;
    display: flex;
    flex-direction: column; 
    width: 100%;
    background-color: $light-blue;
  }
  
  .title {
    align-items: center;
    width: 100%;
    background-color: $light-blue;
    display: flex;
    flex-direction: row; 
    gap: 8px;
    margin-top: 15px;
     p {
    font-size: 20px;
    color: $pr-dark-gray;
    background-color: $light-blue;
  }
  }
  
 
  
  .username-results{
    width: 100%;
    background-color:$light-blue;
    display: flex;
    flex-direction: row; 
    p{
      font-size: medium;
      color: $pr-gray;
      background-color:$light-blue;
    }
  }
 