@import "../../scss/colors.scss";
.middle {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  background-color: $secondary-clr;
  margin-top: 4000;
}

  .review{
    width: 100%;
    height: 500px;
    background-color: $light-yellow;
    border-radius: 30px;
    display: flex;
    flex-direction: column; 
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .review-head{
    width: 95%;
    height: 7%;
    background-color: $light-yellow;
    margin: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }
  .profile-picture{
    justify-content: center; 
    align-items: center; 
    background-color: $light-yellow;
    margin-right: 10px;
    margin-top: -4px;
    img{
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
  }
  .info{
    display: flex;
    flex-direction: column;
    background-color: $light-yellow;
  }
  .username{
    p{
      width: auto;
      color: darkslateblue;
      font-size: 20px;
      background-color: $light-yellow;
    }
    &:hover{
      p{
        color: rgb(152, 152, 235);
        text-decoration: underline;
      }
    }
  }
  .time-ago{
    p{
      font-size: 13px;
      color: rgb(113, 102, 102);
      background-color: $light-yellow;
    }
  }

  .stars{
    margin-left: 40px;
    background-color: $light-yellow;
  }
  .go-to-review-btn{
    background-color: $light-yellow;
    margin-left: auto;
    button{
      padding: 7px;
      width: 100px;
      height: 30px;
      border-radius: 7px;
      color: rgb(218, 240, 194);
      font-size: 15px;
      background-color: $secondary-clr;
      border: 0px;
    }
    &:hover{
      button{
       background-color: rgb(152, 152, 235);
       color: $secondary-clr;
       text-decoration: underline;
      }
    }
  }
  .up-to-head-main-separator {
    background-color: $light-yellow;
    display: flex;
    justify-content: center;
  }
  
  .head-main-separator {
    margin-bottom: 15px;
    width: 97%;
    height: 1px;
    background-color: grey;
  }
  
  .review-main{
    width: 100%;
    height: 65%;
    background-color: $light-yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .movie{
    width: 22%;
    color: darkslateblue;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    background-color: $light-yellow;
    margin-top: -15px;
    p{
      margin-bottom: 6px;
      margin-left: 7px;
      font-size: 20px;
      background-color: $light-yellow;
    }
    &:hover{
      p{
       color: rgb(155, 147, 208);
       text-decoration: underline;
      }
    }
  }
  .poster{
    background-color: $light-yellow;
  }
  .review-content{
    width: 78%;
    display: flex;
    flex-direction: column;
    background-color: $light-yellow;
    margin-right: 25px;
    margin-left: 25px;
    p{
      margin-top: 3px;
      color: $secondary-clr;
      background-color: $light-yellow;
    }
  }
  .review-reactions{
    width: 100%;
    height: 7%;
    background-color:$light-yellow;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border-radius: 30px;
  }
  .likes-count{
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    background-color: $light-yellow;
    gap:6px;
    padding: 2px;
    border-radius: 5px;
    p{
      font-size: 15px;
      background-color: $light-yellow;
      display: flex;
      flex-direction: row;
      margin-top: 3px;
    }
    svg {
      background-color: $light-yellow;
      font-size: 20px; /* zmiana rozmiaru ikony */
    }
    &:hover{
      background-color: $light-blue;
      p{
        background-color:  $light-blue;
      }
      svg{
        background-color:  $light-blue;
      }
    }
  }
  .likes-count-active{
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    background-color: $light-blue;
    gap:6px;
    padding: 2px;
    border-radius: 5px;
    p{
      font-size: 15px;
      background-color: $light-blue;
      display: flex;
      flex-direction: row;
      margin-top: 3px;
    }
    svg {
      background-color: $light-blue;
      font-size: 20px; /* zmiana rozmiaru ikony */
    }
    &:hover{
      background-color: $light-yellow;
      p{
        background-color:  $light-yellow;
      }
      svg{
        background-color:  $light-yellow;
      }
    }
  }
  .comment-count{
    margin-right: 30px;
    background-color: $light-yellow;
    display: flex;
    flex-direction: row;
    gap:6px;
    p{
      font-size: 15px;
      background-color: $light-yellow;
      margin-top: 3px;
    }
    svg {
      background-color:$light-yellow;
      font-size: 20px; /* zmiana rozmiaru ikony */
    }
  }