@import "../../../../scss/colors.scss";
main{
    width: 100%;
}
.main-div-user-page-resultPage{
    margin-top: 50px;
    background-color: $secondary-clr;
    height: 100%;
    width: 80%;
}
.result-item-resultPage{
    padding: 3px;
    height: 200px;
    margin-top: 15px;
    background-color:$light-blue;
    border-radius: 50px;
    width: 100%;
    text-align: center;

    &:hover{
      background-color:$darker-blue;
      .result-content-movie-result-page{
        background-color:$darker-blue;
      }
      .text-fields-resultPage{
        background-color:$darker-blue;
      }
      .movie-title{
        background-color:$darker-blue;
      }
      .username-results-resultPage{
        background-color:$darker-blue;
      }
      img{
        background-color:$darker-blue;
      }
      p{
        background-color:$darker-blue;
      }
      .movie-release-year{
        background-color:$darker-blue;
      }

    }
}
.result-content-movie-result-page{
    display: flex;
    flex-direction: row;
    background-color:$light-blue;
    border-radius: 50px;
    margin: 20px;
    img{
      background-color:$light-blue;
      height: 142px;
      width: 100px;
    }
}
.text-fields-resultPage{
    margin-left: 20px;
    display: flex;
    flex-direction: column; 
    width: 100%;
    background-color:$light-blue;
}
.movie-title{
    width: 100%;
    background-color:$light-blue;
    display: flex;
    flex-direction: row; 
    gap: 8px;
    p{
      font-size: 30px;
      color: $pr-dark-gray;
      background-color:$light-blue;
    }
}

.movie-release-year{
    width: 100%;
    background-color:$light-blue;
    display: flex;
    flex-direction: row; 
    gap: 8px;
    p{
      font-size: 25px;
      color: $pr-dark-gray;
      background-color:$light-blue;
    }
}
