@import "../../../scss/colors.scss";
.friend-profile-container{
  margin-top: 20px;
    width: 100%;
}
.info-view-following{
    width: 100%;
}
.result-item-following{
    padding: 3px;
    margin-top: 5px;
    background-color:$light-blue;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    &:hover{
      background-color:$darker-blue;
      .result-content{
        background-color:$darker-blue;
      }
      .text-fields{
        background-color:$darker-blue;
      }
      .firstName-lastName{
        background-color:$darker-blue;
      }
      .username-results{
        background-color:$darker-blue;
      }
      img{
        background-color:$darker-blue;
      }
      p{
        background-color:$darker-blue;
      }
    }
  }