@import "../../scss/colors.scss";
:root {
    height: 100%;
  }
  
  .main-div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  header {
    width: 100%;
    height: 90px;
    background-color: $light-blue;
    display: flex;
    flex-direction: row;
  }
  .logo{
    display: flex;
    align-items: center;
    width: 35%;
    background-color:  $light-blue;
    img{
      margin-top: 1px;
      height: 70px;
    }
    h1{
      background-color: $light-blue;
      font-size: 65px;
      font-family: 'Times New Roman', Times, serif;
    }
  }
  
  
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden; 
    width: 30%;
    height: 100%;
    background-color: $light-blue;
    div{
      display: flex;
      justify-content: center;
      width: 25%;
      background-color: $light-blue;
      svg{
        background-color: $light-blue;
        height: 300px;
        width: 35%;
        color: gray;
      }
    }
    div:hover {
      background-color: $secondary-clr; 
      svg{
        background-color: $secondary-clr; 
      }
    }
    div.active {
      background-color: $secondary-clr; 
      svg {
        background-color: $secondary-clr; 
      }
    }
  }
  .my-profile {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-blue;
    padding: 20px;
    border-radius: 8px;  
    justify-content: flex-end;
    margin-right: 0;
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-left: 20px;
      background-color: $light-blue;
    }
  }
  
  .column {
    text-align: center;
  }
  
  .column p {
    margin: 0; 
    background-color: $light-blue;
    &:hover{
      color: rgb(155, 147, 208);
      text-decoration: underline;
    }
  }
  .column h4{
    margin: 0; 
    background-color: $light-blue;
  }

  
 