$primary-clr: #8865CB;
$secondary-clr: #340c43 ;
// $secondary-clr: #311c4d ;
$light-yellow:#F0EBCA ;
$pr-green: #66E743;
$pr-gray: #8a9bb6;
$pr-dark-gray: #737373;
$primary-clr-dark: hsl(214, 89%, 49%);