$primary-clr: darkslateblue;
$secondary-clr: #340c43 ;
// $secondary-clr: rgb(55, 81, 81) ;
// $secondary-clr: #311c4d ;
$light-yellow:#F0EBCA ;
$pr-green: #66E743;
$pr-gray: #8a9bb6;
$pr-dark-gray: #737373;
$primary-clr-dark: hsl(214, 89%, 49%);
$light-blue: #bad6e0;
$darker-blue: #9ed0e3;
$dark-green: rgb(55, 81, 81)