@import "../scss/colors.scss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anta';
  background-color: $secondary-clr;
}
body{
  background-color: $secondary-clr;
  width: 100%;
  height: 50px;
}
