@import "../../../../scss/colors.scss"; 
.search-inside-separator{
    margin-bottom: 10px;
    height: 0.7px;
    width: 95%;
    background-color: gray;
}
.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-blue;
    width: 100%;
  }
  
  .result-item {
    margin-bottom: 10px;
    background-color:$light-blue;
    border-radius: 5px;
    width: 100%;
    text-align: center;

  }

  